.input-container {
  position: relative;
  margin: 0px 0px 25px 0px;
}
.input-container label {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: calc(12px + 1vmin);
  pointer-events: none;
  font-weight: 600;
  color: #882aa2;
  font-family: 'Asap';

  color: #999;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: calc(12px + 1vmin);
  color: #25292b;
  font-family: 'Asap';
  font-weight: 500;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #882aa2;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -20px;
  font-size: calc(8px + 1vmin);

  color: #882aa2;
}
